<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="../styles/main.css" type="text/css">
</head>
<body>
    
        
       <div class="topnav">
        <span class="hover-effect">Cuisine</span>
        <ul class="cuisine-list">
            <li>Indian Cuisine</li>
            <li>Mexican Cuisine</li>
            <li>Italian Cuisine</li>
            <li>American Cuisine</li>
            <li>Japanese Cuisine</li>
            <li>Thai Cuisine</li>
            <li>French Cuisine</li>

        </ul>
        <span class="hover-effect">Chats</span>
        <ul class="chat-list">
            <li>Pani puri</li>
            <li>Dahi puri</li>
            <li>pakora</li>
            <li>Bhel Puri</li>
            <li>Samosa</li>
            <li>Pav Bhaji</li>
            <li>Kachori</li>
        </ul>
        <span class="hover-effect">Health Food</span>
        <ul class="health-list">
            <li>Pani puri</li>
            <li>Dahi puri</li>
            <li>pakora</li>
            <li>Bhel Puri</li>
            <li>Samosa</li>
            <li>Pav Bhaji</li>
            <li>Kachori</li>
        </ul>


        <span class="hover-effect">Drinks</span>
    </div>
        
        <div class="bar">
            <h1>Good Morning Guys!</h1>
            <input type="text" placeholder="Search">
        </div>
    
      <!--<abbr Item1="Cuisine" Item2="Chats" Item3="Health Food"Item4="Drinks"></abbr>!-->
      
    </body>
</html>